.button {
    border: 1px solid var(--border);
    outline: none;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--background);
    color: white;
    font-size: large;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.buttonWrapper:hover .button {
    background-color: var(--hovered);
}

.wrapper {
    display: inline-flex;
}

.input {
    border-radius: 15px 0 0 15px;
}

.inputField {
    height: 43px;
    width: 43px;
    border: none;
    border-radius: 0 15px 15px 0;
    text-align: center;
    outline: none;
    background-color: var(--unsorted);
}