.blockContainer {
  padding-bottom: 20px;
}

.title {
  padding-bottom: 20px;
}

.listBlocks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  height: 85%;
  width: 100%;
  gap: 15px;
  margin: 15px;
}

.listBlocks .block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  color: var(--text-dark);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  width: 50px;
}

.listBlocks .greyBlock {
  background-color: var(--grey);
}

.listBlocks .yellowBlock {
  background-color: var(--yellow);
}

.listBlocks .blueBlock {
  background-color: var(--blue);
}

.listBlocks .redBlock {
  background-color: var(--red);
}