.listBlocks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  height: 85%;
  width: 90%;
  gap: 15px;
  margin-left: 30px;
}

.listBlocks .block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--unsorted);
  color: var(--text-dark);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  width: 50px;
}

.listBlocks .unselectedBlock {
  background-color: var(--unsorted);
}

.listBlocks .selectedBlock {
  background-color: var(--selected);
}

.listBlocks .matchedBlock {
  background-color: var(--sorted);
}

.listBlocks .unmatchedBlock {
  background-color: var(--swapped);
}

.listBlocks .pivotBlock {
  background-color: var(--pivot);
}