:root {
  --text: whitesmoke;
  --text-dark: black;
  --background: black;
  --border: #2f3336;
  --hovered: rgba(231, 233, 234, 0.1);
  --unsorted: #b4b4b4;
  --selected: #fbbc05;
  --swapped: #ea4335;
  --sorted: #4285f4;
  --pivot: #34a853;
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  box-sizing: border-box;
}

body {
  user-select: none;
  color: var(--text);
  background: var(--background);
}

.container {
  margin: auto;
  width: 90vw;
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}