.navBar {
    margin: 0 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.options {
    display: flex;
}

.options>.option {
    margin: 10px;
}